/*
From https://gist.github.com/eduardoboucas/84144cd85cbd2ad4db1ca8b902585ca0
 */
/* Variables
 * ===============
 *
 * All variables and most of the configuration is defined on this page. */
/*
 * Breakpoints
 * Example: @include media('<phone') { font-size: 20px }
 */
/*
 * COLORS
 */
/*
 * FONT STACKS
 */
/*
 * Common CSS animations and keyframes
 * Sources:
 * - https://easings.net/
 * - http://cubic-bezier.com
 * - https://matthewlein.com/tools/ceaser
 *
 */
@-webkit-keyframes shake {
  10%, 90% {
    transform: translateX(-1px); }
  20%, 80% {
    transform: translateX(2px); }
  30%, 50%, 70% {
    transform: translateX(-4px); }
  40%, 60% {
    transform: translateX(4px); } }
@keyframes shake {
  10%, 90% {
    transform: translateX(-1px); }
  20%, 80% {
    transform: translateX(2px); }
  30%, 50%, 70% {
    transform: translateX(-4px); }
  40%, 60% {
    transform: translateX(4px); } }

@-webkit-keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes slidein {
  0% {
    transform: translateX(-50px);
    opacity: 0; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }

@keyframes slidein {
  0% {
    transform: translateX(-50px);
    opacity: 0; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }

@-webkit-keyframes fly {
  0% {
    transform: translateY(0); }
  10% {
    transform: translateY(0); }
  40% {
    transform: translateY(-10px); }
  60% {
    transform: translateY(10px); }
  90% {
    transform: translateY(0); }
  100% {
    transform: translateY(0); } }

@keyframes fly {
  0% {
    transform: translateY(0); }
  10% {
    transform: translateY(0); }
  40% {
    transform: translateY(-10px); }
  60% {
    transform: translateY(10px); }
  90% {
    transform: translateY(0); }
  100% {
    transform: translateY(0); } }

@-webkit-keyframes warning {
  0% {
    transform: translateY(0); }
  14% {
    transform: translateY(-10px); }
  20% {
    transform: translateY(-10px); }
  26% {
    transform: translateY(0); }
  28%, 44% {
    transform: translateX(-1px); }
  30%, 42% {
    transform: translateX(2px); }
  32%, 36%, 40% {
    transform: translateX(-3px); }
  34%, 38% {
    transform: translateX(3px); }
  100% {
    transform: translateY(0); } }

@keyframes warning {
  0% {
    transform: translateY(0); }
  14% {
    transform: translateY(-10px); }
  20% {
    transform: translateY(-10px); }
  26% {
    transform: translateY(0); }
  28%, 44% {
    transform: translateX(-1px); }
  30%, 42% {
    transform: translateX(2px); }
  32%, 36%, 40% {
    transform: translateX(-3px); }
  34%, 38% {
    transform: translateX(3px); }
  100% {
    transform: translateY(0); } }

::-moz-selection {
  background: rgba(57, 196, 242, 0.5);
  color: #fff;
  text-shadow: none; }

::selection {
  background: rgba(57, 196, 242, 0.5);
  color: #fff;
  text-shadow: none; }

::-moz-selection {
  background: rgba(57, 196, 242, 0.5);
  color: #fff;
  text-shadow: none; }

::-webkit-selection {
  background: rgba(57, 196, 242, 0.5);
  color: #fff;
  text-shadow: none; }

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

@font-face {
  font-family: 'Font-Name';
  src: url("../fonts/font-name.eot");
  src: url("../fonts/font-name.eot?#iefix") format("embedded-opentype"), url("../fonts/font-name.woff") format("woff"), url("../fonts/font-name.ttf") format("truetype"), url("../fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }

*, *:before, *:after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Comissioner, sans-serif;
  font-size: inherit;
  line-height: 1.44;
  letter-spacing: 0.02rem; }

body {
  font-family: Comissioner, sans-serif;
  font-size: 18px;
  line-height: 1.44;
  letter-spacing: 0.02em; }
  @media screen and (max-width: 1440px) {
    body {
      font-size: 1.25vw; } }
  @media screen and (max-width: 767px) {
    body {
      font-size: 16px; } }

img {
  display: block;
  width: 100%;
  max-width: 100%;
  max-height: 100%; }

svg {
  max-width: 100%;
  height: auto; }

mark {
  background: transparent;
  color: #0FB3E9; }

.wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 0 75px;
  margin: 0 auto; }
  @media screen and (max-width: 1440px) {
    .wrapper {
      padding: 0 5.2083vw; } }
  @media screen and (max-width: 767px) {
    .wrapper {
      padding: 0 10px; } }

.container {
  display: flex;
  width: 100%; }
  .container--left {
    flex-direction: row-reverse; }

.header {
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px solid #E5E5E5;
  position: relative; }
  @media screen and (max-width: 767px) {
    .header {
      padding-top: 13px;
      padding-bottom: 11px; } }
  .header_logo, .header_phone {
    display: block; }
  .header_phone {
    color: #1A394A;
    font-weight: 700;
    text-decoration: none;
    font-size: 16px; }
    @media screen and (max-width: 1440px) {
      .header_phone {
        font-size: 1.111vw; } }
    @media screen and (max-width: 767px) {
      .header_phone {
        margin-left: auto;
        font-size: 16px; } }
  .header_nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 100%;
    z-index: 1000; }
  .header_nav-item {
    padding: 0 15px;
    font-size: 16px;
    line-height: 1;
    position: relative; }
    @media screen and (max-width: 1440px) {
      .header_nav-item {
        padding: 0 1.042vw;
        font-size: 1.111vw; } }
    @media screen and (max-width: 767px) {
      .header_nav-item {
        font-size: 16px;
        padding: 8px 10px; } }
  .header_nav-link {
    text-decoration: none;
    line-height: 1;
    color: #A2A2A2; }
    .header_nav-link:after {
      content: '';
      display: block;
      width: 1px;
      height: 30px;
      background: #E5E5E5;
      position: absolute;
      top: 100%;
      left: calc(50% - 0.5px);
      opacity: 0;
      transition: opacity .25s ease-in-out; }
    .header_nav-link:hover:after, .header_nav-link:focus:after {
      opacity: 1; }
  @media screen and (max-width: 767px) {
    .header_nav {
      display: none; } }
  .header_mobile {
    display: none; }
    @media screen and (max-width: 767px) {
      .header_mobile {
        display: flex; }
        .header_mobile .header_button {
          position: relative;
          width: 35px;
          height: 16px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          border: none;
          padding: 0;
          margin: auto 10px auto 0;
          background: transparent; }
          .header_mobile .header_button:before, .header_mobile .header_button:after, .header_mobile .header_button span {
            display: block;
            width: 100%;
            height: 2px; }
          .header_mobile .header_button:before, .header_mobile .header_button:after {
            content: '';
            background: #C4C4C4; }
          .header_mobile .header_button span {
            background: #0FB3E9; }
        .header_mobile .header_nav-list {
          display: none;
          position: absolute;
          top: 100%;
          left: -10px;
          padding: 11px 0;
          width: auto;
          height: auto;
          background: #ffffff; }
          .header_mobile .header_nav-list.show {
            display: block; } }

.section {
  margin-bottom: 100px;
  padding-top: 50px;
  justify-content: space-between; }
  .section--first {
    width: calc(100% + 27px);
    margin-left: -27px; }
    @media screen and (max-width: 1440px) {
      .section--first {
        width: calc(100% + 1.875vw);
        margin-left: -1.875vw; } }
    .section--first .section_description:before {
      content: '1'; }
  .section--second .section_description:before {
    content: '2'; }
  .section--third .section_description:before {
    content: '3'; }
  .section--fourth .section_description:before {
    content: '4'; }
  .section--fifth .section_description:before {
    content: '5'; }
  .section--warning .section_title {
    text-align: center;
    margin-bottom: 88px;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.222; }
    @media screen and (max-width: 767px) {
      .section--warning .section_title {
        margin-bottom: 23px; } }
  .section--inner {
    padding-top: 70px; }
  .section_title {
    font-size: 48px;
    line-height: 1.167;
    font-weight: 400;
    margin: 0 0 70px; }
    @media screen and (max-width: 1440px) {
      .section_title {
        font-size: 3.333vw; } }
    @media screen and (max-width: 767px) {
      .section_title {
        margin-bottom: 30px;
        font-size: 30px; } }
  .section_subtitle {
    margin: 0 0 52px; }
    @media screen and (max-width: 767px) {
      .section_subtitle {
        margin-bottom: 35px; } }
  .section_description {
    padding: 90px 0 0 72px;
    width: calc(50% - 30px);
    position: relative; }
    @media screen and (max-width: 1440px) {
      .section_description {
        width: calc(50% - 2.083vw);
        padding-left: 5vw; } }
    @media screen and (max-width: 767px) {
      .section_description {
        width: 100%;
        padding: 27px 0 0 0; } }
    .section_description:before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      color: rgba(204, 239, 250, 0.5);
      font-family: Manrope, sans-serif;
      font-weight: 200;
      font-size: 446px;
      line-height: 67%;
      z-index: -1; }
      @media screen and (max-width: 1440px) {
        .section_description:before {
          font-size: 30.972vw; } }
      @media screen and (max-width: 767px) {
        .section_description:before {
          font-size: 300px; } }
  .section_column {
    width: calc(50% - 30px); }
    @media screen and (max-width: 1440px) {
      .section_column {
        width: calc(50% - 2.083vw); } }
    @media screen and (max-width: 767px) {
      .section_column {
        width: 100%; } }
  @media screen and (max-width: 767px) {
    .section {
      justify-content: flex-start;
      flex-direction: column;
      margin-bottom: 30px;
      padding-top: 15px; } }
  @media screen and (max-width: 767px) {
    .section--table {
      width: 100vw;
      margin-left: -10px;
      border-top: 1px solid #E5E5E5;
      padding: 23px 10px;
      overflow: auto; } }

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  list-style-type: none;
  padding: 0;
  margin: 0; }
  @media screen and (max-width: 1440px) {
    .menu {
      gap: 2.083vw; } }
  @media screen and (max-width: 767px) {
    .menu {
      -moz-column-gap: 15px;
           column-gap: 15px;
      row-gap: 20px; } }
  .menu_item {
    min-height: 300px; }
    @media screen and (max-width: 767px) {
      .menu_item {
        min-height: 165px; } }
  .menu_icon {
    margin: auto; }
  .menu_title {
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 72%;
    color: #1A394A; }
    @media screen and (max-width: 767px) {
      .menu_title {
        margin-top: 6px;
        line-height: 1.25; } }
  .menu_button {
    position: absolute;
    top: 30px;
    left: 0;
    display: flex;
    justify-content: space-between;
    height: 90px;
    width: 0;
    padding: 20px 0;
    border-radius: 0 8px 8px 0;
    background: #0FB3E9;
    color: #ffffff;
    overflow: hidden;
    transition: width .3s ease-in-out; }
    .menu_button-title {
      font-size: 15px;
      line-height: 1.533;
      padding: 0 12px 0 28px;
      display: block; }
    .menu_button-arrow {
      padding-right: 22px;
      display: block; }
      @media screen and (max-width: 1440px) {
        .menu_button-arrow {
          padding-right: 1.528vw; } }
  .menu_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid #E5E5E5;
    padding: 20px 20px 38px;
    position: relative;
    text-decoration: none; }
    @media screen and (max-width: 1440px) {
      .menu_link {
        padding-left: 1.389vw;
        padding-right: 1.389vw; } }
    @media screen and (max-width: 767px) {
      .menu_link {
        padding: 16px 6px 4px;
        text-align: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); } }
    .menu_link:hover, .menu_link:focus {
      border-color: #0FB3E9; }
      .menu_link:hover .menu_button, .menu_link:focus .menu_button {
        width: 83%; }

.equipment {
  position: relative; }
  @media screen and (max-width: 767px) {
    .equipment {
      min-height: 558px; } }
  .equipment_item {
    display: block;
    position: absolute; }
    .equipment_item:nth-child(1) {
      top: 0;
      left: 33.87%; }
      @media screen and (max-width: 767px) {
        .equipment_item:nth-child(1) {
          width: 167px;
          left: 30.67%; } }
    .equipment_item:nth-child(2) {
      top: 50px;
      left: 0;
      width: 140px; }
      @media screen and (max-width: 1440px) {
        .equipment_item:nth-child(2) {
          width: 9.722vw; } }
      @media screen and (max-width: 767px) {
        .equipment_item:nth-child(2) {
          width: 104px;
          top: 118px; } }
    .equipment_item:nth-child(3) {
      bottom: 0;
      left: 45%;
      width: 146px; }
      @media screen and (max-width: 1440px) {
        .equipment_item:nth-child(3) {
          width: 10.139vw; } }
      @media screen and (max-width: 767px) {
        .equipment_item:nth-child(3) {
          width: 146px;
          left: 37.6%; } }
    .equipment_item:nth-child(4) {
      top: 154px;
      right: 0;
      width: 128px; }
      @media screen and (max-width: 1440px) {
        .equipment_item:nth-child(4) {
          width: 8.889vw; } }
      @media screen and (max-width: 767px) {
        .equipment_item:nth-child(4) {
          width: 128px;
          top: 149px; } }

.warning_list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between; }
  .warning_list .divider {
    display: block;
    min-width: 1px;
    background: #E5E5E5;
    margin: 0 15px; }
    @media screen and (max-width: 1440px) {
      .warning_list .divider {
        margin: 0 1.042vw; } }
    @media screen and (max-width: 767px) {
      .warning_list .divider {
        margin: 0 7px 8px; } }
    @media screen and (max-width: 767px) {
      .warning_list .divider:nth-of-type(4) {
        display: none; } }
  @media screen and (max-width: 767px) {
    .warning_list {
      flex-wrap: wrap; } }

.warning_item {
  padding: 0 0 8px;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  min-height: 220px; }
  @media screen and (max-width: 1440px) {
    .warning_item {
      min-width: 20.833vw; } }
  @media screen and (max-width: 767px) {
    .warning_item {
      min-width: 160px;
      width: calc((100% - 15px) / 2);
      min-height: 100px; } }
  .warning_item:nth-child(3) .warning_icon {
    -webkit-animation-delay: 1s;
            animation-delay: 1s; }
  .warning_item:nth-child(5) .warning_icon {
    -webkit-animation-delay: 2s;
            animation-delay: 2s; }
  .warning_item:nth-child(7) .warning_icon {
    -webkit-animation-delay: 3s;
            animation-delay: 3s; }

.warning_icon {
  margin: auto;
  width: 160px;
  -webkit-animation: 5.2s ease-in-out infinite warning;
          animation: 5.2s ease-in-out infinite warning; }
  @media screen and (max-width: 1440px) {
    .warning_icon {
      width: 11.111vw; } }
  @media screen and (max-width: 767px) {
    .warning_icon {
      width: 115px; } }
  .warning_icon img {
    width: 100%;
    height: auto; }

.warning_title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.6;
  margin-top: 50px; }
  @media screen and (max-width: 767px) {
    .warning_title {
      margin-top: 18px;
      line-height: 1.2;
      font-size: .9; } }

.form {
  background: #ffffff;
  border: 1px solid #E5E5E5;
  border-radius: 20px;
  padding: 70px 8.527% 90px;
  margin-top: 150px; }
  @media screen and (max-width: 767px) {
    .form {
      margin-top: 70px;
      padding: 25px 1.1% 14px; } }
  .form .section_title {
    white-space: nowrap;
    font-weight: bold;
    font-size: 36px;
    line-height: 1;
    margin-bottom: 60px; }
    @media screen and (max-width: 1440px) {
      .form .section_title {
        font-size: 2.5vw; } }
    @media screen and (max-width: 767px) {
      .form .section_title {
        font-size: 30px;
        margin-bottom: 31px;
        text-align: left; } }
  .form_description {
    justify-content: space-between;
    padding-bottom: 43px; }
    @media screen and (max-width: 767px) {
      .form_description {
        flex-direction: column;
        padding-bottom: 30px; } }
    .form_description-column:last-child {
      margin-left: 60px;
      max-width: 580px; }
      @media screen and (max-width: 1440px) {
        .form_description-column:last-child {
          margin-left: 4.167vw; } }
      @media screen and (max-width: 767px) {
        .form_description-column:last-child {
          margin-left: 0; } }
    .form_description .form_text {
      font-size: 24px;
      line-height: 1.333;
      margin: 0; }
      @media screen and (max-width: 1440px) {
        .form_description .form_text {
          font-size: 1.667vw; } }
      @media screen and (max-width: 767px) {
        .form_description .form_text {
          font-size: 18px;
          line-height: 1.222; } }
  .form_phone {
    text-decoration: none;
    color: #1A394A;
    font-weight: 700; }
  .form_line {
    justify-content: center; }
    @media screen and (max-width: 767px) {
      .form_line {
        flex-direction: column; } }
  .form_input {
    display: block; }
    .form_input input {
      display: block;
      background: #ffffff;
      border: 1px solid #A2A2A2;
      border-radius: 10px;
      padding: 13px 30px 14px;
      font-size: 15px;
      line-height: 1.533;
      margin-right: 30px;
      width: 300px;
      height: 100%;
      outline: none; }
      @media screen and (max-width: 1440px) {
        .form_input input {
          margin-right: 2.083vw; } }
      @media screen and (max-width: 767px) {
        .form_input input {
          margin-right: 0;
          margin-bottom: 30px;
          width: 100%; } }
      .form_input input:hover, .form_input input:focus {
        border-color: #0FB3E9; }
  .form_button {
    border-radius: 10px;
    background: #0FB3E9;
    padding: 15px 27px 15px 30px;
    font-size: 15px;
    line-height: 1.533;
    border: 0;
    color: #ffffff;
    width: 300px;
    justify-content: space-between; }
    .form_button-text {
      margin-right: 15px; }
    @media screen and (max-width: 767px) {
      .form_button {
        width: 100%; } }

.command_list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px; }
  @media screen and (max-width: 1440px) {
    .command_list {
      gap: 4.167vw; } }
  @media screen and (max-width: 767px) {
    .command_list {
      grid-template-columns: 1fr;
      gap: 50px; } }

.command_photo {
  background: #E5E5E5;
  border-radius: 20px;
  display: block;
  overflow: hidden;
  margin: 0 0 30px; }

.command_name {
  margin: 0 0 16px;
  font-weight: bold;
  font-size: 20px;
  line-height: 72%; }

.command_position {
  margin: 0 0 40px;
  font-size: 15px;
  line-height: 72%;
  color: #A2A2A2; }

.command_description {
  margin: 0;
  font-size: 16px;
  line-height: 1.5; }

.table {
  border-collapse: collapse; }
  @media screen and (max-width: 767px) {
    .table {
      margin-right: 10px; } }
  .table th {
    background: #E6F7FD;
    padding: 10px 30px;
    vertical-align: middle;
    height: 50px;
    text-align: left; }
    .table th:first-child {
      border-radius: 20px 0 0 0; }
      @media screen and (max-width: 767px) {
        .table th:first-child {
          border-top-left-radius: 0; } }
    .table th:last-child {
      border-radius: 0 20px 0 0; }
      @media screen and (max-width: 767px) {
        .table th:last-child {
          border-top-right-radius: 0; } }
    @media screen and (max-width: 767px) {
      .table th {
        padding: 24px 6px; } }
  .table td {
    border: solid #E5E5E5;
    border-width: 0 1px 1px 1px;
    padding: 19px 30px 25px; }
    @media screen and (max-width: 767px) {
      .table td {
        padding: 4px 6px 7px; } }
    .table td:first-child {
      border-left-width: 0; }
      @media screen and (max-width: 767px) {
        .table td:first-child {
          border-left-width: 1px; } }
    .table td:last-child {
      border-right-width: 0; }
      @media screen and (max-width: 767px) {
        .table td:last-child {
          border-right-width: 1px; } }
  .table th, .table td {
    width: 23.256%;
    max-width: 300px; }
    @media screen and (max-width: 767px) {
      .table th, .table td {
        min-width: 179px; } }
    .table th:nth-child(2), .table td:nth-child(2) {
      width: 30.233%;
      max-width: 390px; }
      @media screen and (max-width: 767px) {
        .table th:nth-child(2), .table td:nth-child(2) {
          min-width: 232px; } }

.paginator {
  position: fixed;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  z-index: 1000; }
  @media screen and (max-width: 1440px) {
    .paginator {
      left: 2.083vw; } }
  @media screen and (max-width: 767px) {
    .paginator {
      display: none; } }
  .paginator_link {
    display: block;
    width: 29px;
    height: 29px;
    border: 1px solid transparent;
    background: transparent;
    border-radius: 50%;
    position: relative; }
    @media screen and (max-width: 1440px) {
      .paginator_link {
        width: 2.014vw;
        height: 2.014vw; } }
    .paginator_link:after {
      content: '';
      display: block;
      width: 7px;
      height: 7px;
      border: 1px solid #A2A2A2;
      background: #ffffff;
      border-radius: 50%;
      position: absolute;
      top: 10px;
      left: 10px; }
      @media screen and (max-width: 1440px) {
        .paginator_link:after {
          width: 0.486vw;
          height: 0.486vw;
          top: 0.694vw;
          left: 0.694vw; } }
    .paginator_link:not(:first-child) {
      margin-top: 28px; }
      @media screen and (max-width: 1440px) {
        .paginator_link:not(:first-child) {
          margin-top: 1.944vw; } }
      .paginator_link:not(:first-child):before {
        content: '';
        display: block;
        width: 1px;
        height: 51px;
        position: absolute;
        top: -40px;
        left: 13px;
        background: #E5E5E5;
        z-index: -1; }
        @media screen and (max-width: 1440px) {
          .paginator_link:not(:first-child):before {
            left: 0.903vw;
            top: -2.778vw;
            height: 3.542vw; } }
    .paginator_link.active {
      border-color: #0FB3E9;
      background: #ffffff; }
      .paginator_link.active:after {
        border-color: #0FB3E9; }
      .paginator_link.active:before {
        background: #0FB3E9; }
    .paginator_link.current:after {
      background: #0FB3E9; }

#equip_dron {
  overflow: visible;
  -webkit-animation: 3s ease-in-out infinite fly;
          animation: 3s ease-in-out infinite fly; }
